<!DOCTYPE html>
<html lang="en">
<head>
    <title>Từ điển</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Paytone+One&display=swap" rel="stylesheet">

    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet"/>
    <link href="https://unpkg.com/nes.icons@3.0.0-beta.3/css/nes-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>
    <header class="header">
        <div class="grid">
            <nav class="header__navbar">
                
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">LOGO</li>
                </ul>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item header__navbar-item-strong">
                         <a href="./login" class="login__redirect">Đăng nhập</a>
                    </li>
                    <li class="header__navbar-item header__navbar-item-strong">
                        <a href="./register" class="register__redirect">Đăng ký</a>
                    </li>
                </ul>
                
            </nav>
            
        </div>
        
    </header>
    <h1>Yuu's Dictionary</h1>
    <div class="card">
    <form action="/search" method="POST">
        
            <h2><svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-coffee" href="#icon-coffee" /></svg>Regular</h2>
              <label class="input">
                <input class="input__field" type="text" name="txt" id="autocomplete" placeholder="Input here" />
              </label>
              <div class="button-group">
                  <div>
                      <input type="radio" id="anh-viet" name="translation_option" value="anh-viet" {% if translation_option== "anh-viet" %} checked {% endif %}>
                      <label for="anh-viet">Anh-Viet</label>
                  </div>
                  <div>
                      <input type="radio" id="viet-anh" name="translation_option" value="viet-anh" {% if translation_option== "viet-anh" %} checked {% endif %}>
                      <label for="viet-anh">Viet-Anh</label>
                  </div>
              <button>Send</button>
              
            </div>
          
        </form>
        <div class="nes-container is-rounded with-title result-container">
            <h2>{{word}}</h2>
            <div class="result-wrapper">
                <p id="result">
                    <br>{{pronunciation}}<br>
                    <div>{% autoescape false %}
                        {{definition}}
                    {% endautoescape %}</div>
                </p>
            </div>
        </div>
    </div>
    

    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
        <symbol id="icon-coffee" viewBox="0 0 20 20">
          <title>icon-coffee</title>
          <path fill="currentColor" d="M15,17H14V9h3a3,3,0,0,1,3,3h0A5,5,0,0,1,15,17Zm1-6v3.83A3,3,0,0,0,18,12a1,1,0,0,0-1-1Z"/>
          <rect fill="currentColor" x="1" y="7" width="15" height="12" rx="3" ry="3"/>
          <path fill="var(--color-accent)" d="M7.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,0,1-1.79.89Z"/>
          <path fill="var(--color-accent)" d="M3.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"/>
          <path fill="var(--color-accent)" d="M11.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"/>
        </symbol>
      </svg>
      <script>
        $(function() {
            $("#autocomplete").autocomplete({
                source: function(request, response) {
                    var selectedOption = $("input[name='translation_option']:checked").val();
                    $.ajax({
                        url: "/suggestion",
                        // dataType: "json",
                        data: {
                            word: request.term,
                            translation_option: selectedOption
                        },
                        success: function(data) {
                            response(data); // Pass the received data to the response callback
                        }
                    });
                },
                minLength: 1 // Minimum characters before triggering autocomplete
            });
        });
    </script>
</body>
<footer>
   
    <div class="copyright">
        <p>&copy; 2024 Yuu</p>
       </div>
</footer>
</html>
